.tittle {
    display: flex;
    justify-content: space-between;
}

.tittle h1 {
    align-self: center;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

.adicionar a,
.passPlataform a {
    display: flex;
    width: 250px;
    height: fit-content;
    background-color: #D9D9D9;
    color: #888888;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
    text-decoration: none;
    font-size: small;
    margin-bottom: 5px;
    justify-content: space-between;
}

.adicionar a {
    background-color: #919191;
    color: #F5F5F5;
}

.adicionar a:hover,
.passPlataform a:hover {
    opacity: 0.7;
}

.containerCrud {
    display: flex;
    flex-direction: column;
}

.jogoCrud {
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    width: 90%;
    height: 90px;
    align-self: center;
    border-radius: 20px;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.infoJogo {
    align-self: center;
    margin-left: 1rem;
}

.infoJogo h1 {
    cursor: pointer;
}

.crudAction {
    font-size: 2.5rem;
    align-self: center;
}

.crudAction ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
}

.crudAction ul li {
    padding: 0 0.75rem;
    font-size: medium;
    cursor: pointer;
    list-style: none;
    flex-direction: row;
    font-size: xx-large;
}

.crudAction ul li.barra-ul:hover {
    cursor:default;
}